<!DOCTYPE html>
<html data-ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <base href="/">
    <title>Angular Express Seed App</title>
    <% include includes/css %>
  </head>
  <body>
    <%-body -%>
  </body>
</html>